<br>


<div  class="column is-6">    
</div>

  <div  class="column is-5">
        <p class="bd-index-custom-title">thailand free link</p>
        <div class="bd-index-custom-example">
                <h1 class="title">
                  Auto Genarate Short Url
                </h1>
                <p class="subtitle">
                  place url for Genarate
                </p>
                <form name="form1" method="POST" action="createUrl"  >
                  <div class="field">
                    <div class="control">
                      <input class="input" type="text" placeholder="Input"  name ="originUrl">
                    </div>
                  </div>
                  <div class="buttons">
                    <button class="button is-primary">Genarate</button>
                  </div>
                </form>                                
        </div>
   
        <p class="has-text-danger"> <%- errormsg %></p> 
</div>