
<div  class="column is-6">    
</div>

  <div  class="column is-5">
        <div class="bd-index-custom-example">                           
        <p class="has-text-danger">Sorry, we weren't able to locate that URL. Please double check your link details and try again. Or check back later.</p>                   
        </div>
</div>